@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transform:rotateZ(0.03deg);

}
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #e7ecf7;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
}
ul.topnav li a:hover:not(.active) {
	background-color: #d8dadd;
}
ul.topnav li a.active {
	background-color: #a8dbdd;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}
.centertexts {
    text-align:center;
    padding:20px 0;
}
.software1box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #000000;
    background: #effac7;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
	width: 320px;
height: 200px;
margin: 10px auto;	
padding:20px 0;
}
.software1box p {
    margin: 0; 
    padding: 0;
}
.download-launcher {
	width: 130px;
	height: 20px;
	text-align: center;
	padding: 10px 30px;
	background-color: rgb(233, 200, 200);
	display: block;
	margin: 10px auto;	
	text-decoration: none;
	color: black;
  }